
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>创新标准产品  /  软件标准产品_深圳市创新梦想科技有限公司</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

    <script language="javascript">
        msg = "创新标准产品  /  软件标准产品_深圳市创新梦想科技有限公司";

        msg = "" + msg;pos = 0;
        function scrollMSG() {
            document.title = msg.substring(pos, msg.length) + msg.substring(0, pos);
            pos++;
            if (pos >  msg.length) pos = 0
            window.setTimeout("scrollMSG()",200);
        }
        scrollMSG();
    </script>
    {include file="common/meta" /}
</head>

<body>
<!--状态栏-->
<div class="nav-navbar">
    <div class="nav-test-befor"></div><div class="confont-top">
    <div class="confont-con">
        <a class="pull-left nolink fcolor-white fsize-12 mr-20 active" target="_parent" href="/" title="创新梦想官网首页">
            欢迎访问软件定制开发首页
        </a>
        <a class="pull-left nolink fcolor-white fsize-12 mr-20" target="_blank" href="#" title="创新梦想免费软件中心">
            免费软件中心
        </a>
        <a class="pull-left nolink fcolor-white fsize-12 mr-20" target="_blank" href="http://www.cxmx90.cn" title="创新梦想网络推广部">
            深圳软件开发推广部
        </a>



        <form  name="formsearch" action="\plus/search.php" class="so-form mr-20">
            <input type="hidden" name="domains" value="www.dedecms.com">
            <input type="hidden" name="kwtype" value="0" />
            <input type="text" name="q" class="so-input" placeholder="请输入搜索内容">
            <input type="submit" class="so-button">
        </form>
        <div class="pull-right mr-20">
            <a class="fcolor-white nolink mr-15 fsize-12"  href="/plus/list.php?tid=45">咨询热线：18820152035</a>
        </div>
    </div>
</div>

    <div class="confont-nav">
        <div class="confont-con clearboth">
            <div class="logo pull-left  mr-20 mt-20"><a href="/" title="深圳市创新梦想科技有限公司"><img src="__ROOT__/public/assets/images/logo.png" alt="深圳市创新梦想科技有限公司" width="300px"></a></div>
            <div class="pull-left po-re">
                <ul class="nav">

                    <li class="down"><a href="/plus/list.php?tid=1" title="解决方案">解决方案</a></li>

                    <li class="down"><a href="/plus/list.php?tid=2" title="创新标准产品">创新标准产品</a></li>

                    <li class="down"><a href="/plus/list.php?tid=3" title="定制开发服务">定制开发服务</a></li>

                    <li class="down"><a href="/plus/list.php?tid=4" title="服务支持">服务支持</a></li>

                    <li class="down"><a href="/plus/list.php?tid=5" title="新闻中心">新闻中心</a></li>

                    <li class="down"><a href="/plus/list.php?tid=6" title="客户案例">客户案例</a></li>

                    <li class="down"><a href="/plus/list.php?tid=7" title="关于梦想">关于梦想</a></li>

                </ul>
                <!-- 导航下拉菜单 -->
                <div class="nav-down clearboth">
                    <!-- 解决方案 -->
                    <ul class="nav-down-list">



                        <li class="pull-left">
                            <a href="/plus/list.php?tid=19" title="综合集团">综合集团</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=21" title="制造行业">制造行业</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=25" title="服务行业">服务行业</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=27" title="金融行业">金融行业</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=26" title="IT&电子">IT&电子</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=20" title="政府与公共部门">政府与公共部门</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=22" title="文体教育">文体教育</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=23" title="交通运输">交通运输</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=24" title="商贸零售">商贸零售</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=29" title="其它行业">其它行业</a>
                        </li>


                    </ul>

                    <ul class="nav-down-list nav-down-list2">


                        <a href="/plus/list.php?tid=61" class=" h-20 lh-20 pl-5 mb-10 di-b" >
                            <span class="hr-dl-yellow-4 pl-10 di-ib fsize-16 fcolor-white">软件标准产品</span>
                        </a>


                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/gov/2017/0809/338.html" title="金融期货交易平台">金融期货交易平台</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/gov/2017/0709/63.html" title="大型接码平台">大型接码平台</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/gov/2017/0714/286.html" title="ERP管理系统">ERP管理系统</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/gov/2017/0713/285.html" title="OA协同办公系统">OA协同办公系统</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/gov/2017/0714/311.html" title="CRM客户管理系统">CRM客户管理系统</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/gov/2017/0709/66.html" title="智能流量营销平台">智能流量营销平台</a>
                        </li>



                        <a href="/plus/list.php?tid=62" class=" h-20 lh-20 pl-5 pt-10 mb-10 clearfix di-b" >
                            <span class="hr-dl-yellow-4 pl-10 di-ib fsize-16 fcolor-white">APP标准产品</span>
                        </a>


                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/corp/2017/0720/316.html" title="互联网金融借贷APP">互联网金融借贷APP</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/corp/2017/0720/318.html" title="网约车打车系统">网约车打车系统</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/corp/2017/0720/319.html" title="网上商城系统">网上商城系统</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/corp/2017/0720/320.html" title="聊天交友系统">聊天交友系统</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/corp/2017/0714/287.html" title="共享单车系统APP">共享单车系统APP</a>
                        </li>
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="/products/corp/2017/0720/317.html" title="团购外卖系统APP">团购外卖系统APP</a>
                        </li>

                    </ul>

                    <ul class="nav-down-list nav-down-list3">

                        <a  class=" h-20 lh-20 pl-5 pt-10 mb-10 clearfix di-b" >
                            <span class="hr-dl-yellow-4 pl-10 di-ib fsize-16 fcolor-white">定制开发服务内容</span>
                        </a>


                        <li class="pull-left">
                            <img src="__ROOT__/public/assets/images/place_software_w01.png" width="65">
                            <a href="/plus/list.php?tid=8">软件开发</a>
                        </li>

                        <li class="pull-left">
                            <img src="__ROOT__/public/assets/images/place_software_w03.png" width="65">
                            <a href="/plus/list.php?tid=9">APP开发</a>
                        </li>

                        <li class="pull-left">
                            <img src="__ROOT__/public/assets/images/place_software_w02.png" width="65">
                            <a href="/plus/list.php?tid=10">微信开发</a>
                        </li>

                        <li class="pull-left">
                            <img src="__ROOT__/public/assets/images/place_software_w04.png" width="65">
                            <a href="/plus/list.php?tid=11">电商平台开发</a>
                        </li>

                        <div class="pull-right">

                            <a href="/plus/list.php?tid=12" class="fsize-14 fcolor-white">
                                开发流程
                            </a>

                            <a href="/plus/list.php?tid=13" class="fsize-14 fcolor-white">
                                开发优势
                            </a>

                        </div>
                    </ul>


                    <ul class="nav-down-list">



                        <li class="pull-left">
                            <a href="/plus/list.php?tid=47" title="服务体系">服务体系</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=48" title="服务热线">服务热线</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=74" title="集团架构">集团架构</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=49" title="知识中心">知识中心</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=50" title="下载中心">下载中心</a>
                        </li>



                    </ul>

                    <ul class="nav-down-list">



                        <li class="pull-left">
                            <a href="/plus/list.php?tid=14" title="公司动态">公司动态</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=15" title="项目案例">项目案例</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=16" title="员工风采">员工风采</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=17" title="业界动态">业界动态</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=18" title="最新公告">最新公告</a>
                        </li>


                    </ul>

                    <ul class="nav-down-list">


                        <li class="pull-left">
                            <a href="/plus/list.php?tid=30" title="综合集团">综合集团</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=32" title="制造行业">制造行业</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=36" title="服务行业">服务行业</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=38" title="金融行业">金融行业</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=37" title="IT&电子">IT&电子</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=31" title="政府与公共部门">政府与公共部门</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=33" title="文体教育">文体教育</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=34" title="交通运输">交通运输</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=35" title="商贸零售">商贸零售</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=39" title="其它行业">其它行业</a>
                        </li>

                    </ul>

                    <ul class="nav-down-list" style="width: 710px;">



                        <li class="pull-left">
                            <a href="/plus/list.php?tid=40" title="公司简介">公司简介</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=41" title="企业文化">企业文化</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=43" title="品牌形象">品牌形象</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=44" title="招贤纳士">招贤纳士</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=73" title="发展历程">发展历程</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=72" title="资质荣耀">资质荣耀</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=46" title="开发流程">开发流程</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=45" title="联系我们">联系我们</a>
                        </li>


                    </ul>
                    <!-- 关于创新梦想end -->
                </div><!-- 导航下拉菜单end -->
            </div><!-- 导航条end -->
        </div><!-- 全部导航内容end -->
    </div></div>
<!-- 整个头部 end-->
<div class="confont-con  clearfix">

    <div class="confont-left  pull-left">

        {volist name="list" id="li"}
        <dl>
        <dt class="gray1"><a href="{:url('Index/Product/article',array('id'=>$li.id))}" class="fsize-18"><i class="iconfont">&#xe619;</i>{$li.name}</a></dt>

                    {volist name="li.chlid" id="c"}
        <dd><a href="{:url('Index/Product/article',array('id'=>$c.id))}">{$c.name}</a></dd>
                    {/volist}
        </dl>
        {/volist}




            <!--<dt class="gray1"><a href="/plus/list.php?tid=61" class="fsize-18"><i class="iconfont">&#xe619;</i>软件标准产品</a></dt>-->

            <!--<dd><a href="/products/gov/2017/0809/338.html">金融期货交易平台</a></dd>-->
            <!--<dd><a href="/products/gov/2017/0709/63.html">大型接码平台</a></dd>-->
            <!--<dd><a href="/products/gov/2017/0714/286.html">ERP管理系统</a></dd>-->
            <!--<dd><a href="/products/gov/2017/0713/285.html">OA协同办公系统</a></dd>-->
            <!--<dd><a href="/products/gov/2017/0714/311.html">CRM客户管理系统</a></dd>-->
            <!--<dd><a href="/products/gov/2017/0709/66.html">智能流量营销平台</a></dd>-->



        <!--</dl>-->
        <!--<dl>-->

            <!--<dt class="gray1"><a href="/plus/list.php?tid=62" class="fsize-18"><i class="iconfont">&#xe619;</i>APP标准产品</a></dt>-->

            <!--<dd><a href="/products/corp/2017/0720/316.html">互联网金融借贷APP</a></dd>-->
            <!--<dd><a href="/products/corp/2017/0720/318.html">网约车打车系统</a></dd>-->
            <!--<dd><a href="/products/corp/2017/0720/319.html">网上商城系统</a></dd>-->
            <!--<dd><a href="/products/corp/2017/0720/320.html">聊天交友系统</a></dd>-->
            <!--<dd><a href="/products/corp/2017/0714/287.html">共享单车系统APP</a></dd>-->
            <!--<dd><a href="/products/corp/2017/0720/317.html">团购外卖系统APP</a></dd>-->


        <!--</dl>-->




        <dl class="mt-20">
            <dt><i class="iconfont fcolor-66"></i>联系我们</dt>
            <dd class="center h-100"><p class="pt-20 fcolor-66">了解更多详细信息请致电</p><b class="fsize-28 lh-50 fcolor-99">4000-670-790</b></dd>
            <dd class="center h-80 hr-db-gray-4 po-re">
                <p class="lh-30 fcolor-66 pt-5 pb-5">或给我们留言</p>
                <img class=" pull-left pl-50 pr-5" src="__ROOT__/public/assets/images/QQ_icon.png" width="24">
                <span onClick="location.href=('http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes')"  class="btn-button-gb-blue  pr-10 pl-10 di-ib pull-left">在线留言</span>
            </dd>
        </dl>
    </div>

    <div class="confont-right pull-right">
        <!--列表页头部-->
        <div class="h-50 lh-50 clearfix">
            <div class="pull-left fcolor-blue2 fsize-18">
                <i class="iconfont fsize-28 fweight-900 pull-left fcolor-yellow mr-5"></i>创新标准产品
            </div>
            <div class="confont-next pull-right">
                <p><i class="iconfont"></i>您所在的位置：<a href='http://www.cxmx90.com/'>首页</a> > <a href='/plus/list.php?tid=2'>创新标准产品</a> > <a href='/plus/list.php?tid=61'>软件标准产品</a> > </p>
            </div>
        </div><!--列表页头部结束-->
        <!--列表页头部banner不轮播-->
        <div class="po-re list-top-banner product-list-banner">
            <div class="po-ab over-h"><img src="__ROOT__/public/assets/images/product_p3_banner.jpg" width="940px" /></div>
            <div class="po-ab pt-40 pb-10 pl-35 pr-25 w-540">
                <h2 class="fsize-30 fcolor-white fweight-100">{$data.name}</h2>
                <p class="fcolor-white lh-1em mt-20">{$data.maincontent}</p>
                <div class=" mt-15 clearfix">

                    <a href="/plus/list.php?tid=1" class="pl-25 pr-25 pt-10 pb-10 fsize-14 pull-left fcolor-white mr-30">解决方案</a>

                    <a href="/plus/list.php?tid=6" class="pl-25 pr-25 pt-10 pb-10 fsize-14 pull-left fcolor-white">客户案例</a>

                </div>
            </div>
        </div><!--列表页头部banner不轮播结束-->
        <!--列表页标题-->
        <div class="h-70 lh-70 ">
            <span class="hr-dl-yellow-4 pl-10 lh-26 di-ib fsize-18">软件标准产品</span>
        </div><!--end-->
        <!--列表页内容开始-->
        <div class="product">
            <ul>

                {volist name="list[0]['chlid']" id="li"}
                <li>
                    <div class="product-imgCon hr-s-gray1  over-h  pull-left center">
                        <a href="{:url('Index/Product/article',array('id'=>$li.id))}">
                            <img src="__ROOT__/public/assets/images/Software_icon.png" width="280" alt="" class="va-m"/>
                        </a>
                    </div>
                    <div class="product-list-text pull-right w-600">
                        <a href="{:url('Index/Product/article',array('id'=>$li.id))}" title="金融期货交易平台">
                            <h1 class="fsize-20 lh-22 mt-10 mb-20 fweight-900 fcolor-33">{$li.name}</h1>
                            <dl>
                                <dt class="fsize-14 fcolor-66 lh-2em di-i pull-left">产品简介：</dt>
                                <dd class="fsize-14 fcolor-99 lh-2em di-i"><?php echo mb_substr(strip_tags(html_entity_decode($li['content'])),0,60);?> </dd>
                            </dl>
                        </a>
                    </div>
                    <div class=" hr-sb-gray3 h-30 w-all pull-left mb-30"></div>
                </li>
                {/volist}




                <!--<li>-->
                <!--<div class="product-imgCon hr-s-gray1  over-h  pull-left center">-->
                    <!--<a href="/products/gov/2017/0709/63.html">-->
                        <!--<img src="/uploads/Software_icon.png" width="280" alt="" class="va-m"/>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="product-list-text pull-right w-600">-->
                    <!--<a href="/products/gov/2017/0709/63.html" title="大型接码平台">-->
                        <!--<h1 class="fsize-20 lh-22 mt-10 mb-20 fweight-900 fcolor-33">大型接码平台</h1>-->
                        <!--<dl>-->
                            <!--<dt class="fsize-14 fcolor-66 lh-2em di-i pull-left">产品简介：</dt>-->
                            <!--<dd class="fsize-14 fcolor-99 lh-2em di-i">本平台是一套竞争力强大的大型优质验证码平台， 包含的功能非常强大及齐全，相应的CS、BS、Windos服务、API接口等各种模块软件一应俱全。</dd>-->
                        <!--</dl>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class=" hr-sb-gray3 h-30 w-all pull-left mb-30"></div>-->
            <!--</li>-->
                <!--<li>-->
                <!--<div class="product-imgCon hr-s-gray1  over-h  pull-left center">-->
                    <!--<a href="/products/gov/2017/0714/286.html">-->
                        <!--<img src="/uploads/Software_icon.png" width="280" alt="" class="va-m"/>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="product-list-text pull-right w-600">-->
                    <!--<a href="/products/gov/2017/0714/286.html" title="ERP管理系统">-->
                        <!--<h1 class="fsize-20 lh-22 mt-10 mb-20 fweight-900 fcolor-33">ERP管理系统</h1>-->
                        <!--<dl>-->
                            <!--<dt class="fsize-14 fcolor-66 lh-2em di-i pull-left">产品简介：</dt>-->
                            <!--<dd class="fsize-14 fcolor-99 lh-2em di-i">ERP管理系统，其核心思想是供应链管理，指建立在信息技术基础上，以系统化的管理思想，通过融合数据库技术、计算机辅助开发工具等对企业的资金、货物、人员和信息等资源进行自动化管理，实现企业管理信息化和自动化，提高工作效率。</dd>-->
                        <!--</dl>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class=" hr-sb-gray3 h-30 w-all pull-left mb-30"></div>-->
            <!--</li><li>-->
                <!--<div class="product-imgCon hr-s-gray1  over-h  pull-left center">-->
                    <!--<a href="/products/gov/2017/0713/285.html">-->
                        <!--<img src="/uploads/Software_icon.png" width="280" alt="" class="va-m"/>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="product-list-text pull-right w-600">-->
                    <!--<a href="/products/gov/2017/0713/285.html" title="OA协同办公系统">-->
                        <!--<h1 class="fsize-20 lh-22 mt-10 mb-20 fweight-900 fcolor-33">OA协同办公系统</h1>-->
                        <!--<dl>-->
                            <!--<dt class="fsize-14 fcolor-66 lh-2em di-i pull-left">产品简介：</dt>-->
                            <!--<dd class="fsize-14 fcolor-99 lh-2em di-i">OA协同办公管理系统可以优化现有的管理组织结构，调整管理体制，在提高效率的基础上，增加协同办公能力，强化决策的一致性，最后实现提高决策效能的目的。</dd>-->
                        <!--</dl>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class=" hr-sb-gray3 h-30 w-all pull-left mb-30"></div>-->
            <!--</li><li>-->
                <!--<div class="product-imgCon hr-s-gray1  over-h  pull-left center">-->
                    <!--<a href="/products/gov/2017/0714/311.html">-->
                        <!--<img src="/uploads/Software_icon.png" width="280" alt="" class="va-m"/>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="product-list-text pull-right w-600">-->
                    <!--<a href="/products/gov/2017/0714/311.html" title="CRM客户管理系统">-->
                        <!--<h1 class="fsize-20 lh-22 mt-10 mb-20 fweight-900 fcolor-33">CRM客户管理系统</h1>-->
                        <!--<dl>-->
                            <!--<dt class="fsize-14 fcolor-66 lh-2em di-i pull-left">产品简介：</dt>-->
                            <!--<dd class="fsize-14 fcolor-99 lh-2em di-i">CRM客户管理系统通过满足客户个性化的需要、提高客户忠诚度，实现缩短销售周期、降低销售成本、增加收入、拓展市场、全面提升企业盈利能力和竞争能力。 </dd>-->
                        <!--</dl>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class=" hr-sb-gray3 h-30 w-all pull-left mb-30"></div>-->
            <!--</li><li>-->
                <!--<div class="product-imgCon hr-s-gray1  over-h  pull-left center">-->
                    <!--<a href="/products/gov/2017/0709/66.html">-->
                        <!--<img src="/uploads/Software_icon.png" width="280" alt="" class="va-m"/>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="product-list-text pull-right w-600">-->
                    <!--<a href="/products/gov/2017/0709/66.html" title="智能流量营销平台">-->
                        <!--<h1 class="fsize-20 lh-22 mt-10 mb-20 fweight-900 fcolor-33">智能流量营销平台</h1>-->
                        <!--<dl>-->
                            <!--<dt class="fsize-14 fcolor-66 lh-2em di-i pull-left">产品简介：</dt>-->
                            <!--<dd class="fsize-14 fcolor-99 lh-2em di-i">流量营销平台是 专业用于手机流量营销或渠批次的，主要包含有六大模块，WEB前端、WEB系统后台管理、API接口、运营商通道充值状态接口、用户充值状态接口Windos服务逻辑数据模块，Web端用户交互界面设计专业美观，平台稳定性、安全性及处理海量数据压力性能非常好，API接口对接简单容易，方便接口客户没什么经验也能快速接入到平台，可根据不同需求定制开发专用的流量营销平台。</dd>-->
                        <!--</dl>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class=" hr-sb-gray3 h-30 w-all pull-left mb-30"></div>-->
            <!--</li>-->


            </ul>
        </div><!--列表页内容-end-->
    </div><!--右边内容结束-->
</div>

<div class="go-top">
    <div class="before-icon">
        <div onClick="boxOs()">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes"><i class="iconfont"></i></a>
        </div>
        <div onClick="boxOs()">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes"><i class="iconfont"></i></a>
        </div>
        <div>
            <i class="iconfont"></i>
        </div>
        <div onClick="window.open('/plus/list.php?tid=49')">
            <i class="iconfont"></i>
        </div>
        <div>
            <a href="javascript:scroll(0,0)">
                <i class="iconfont"></i>
            </a>
        </div>
    </div>
    <div class="after-con">
        <div class="st">
            <img src="__ROOT__/public/assets/images/qq.png" width="24" >
            业务咨询<br>咨询在线客服
        </div>
        <div class="sp">
            <img src="__ROOT__/public/assets/images/qq.png" width="24" >
            合作咨询<br>咨询在线客服
        </div>
        <div class="erweima">
            <div>
                <img src="__ROOT__/public/assets/images/erweima.png" width="98" height="98">
                <p>我们的微信</p>
            </div>
            <div>
                <img src="__ROOT__/public/assets/images/erweima_weibo.png" width="98" height="98">
                <P>我们的微博</P>
            </div>
        </div>
        <div class="help">
            点击图标进入帮助中心
        </div>
        <!--<div class="di-n">
      <a href="javascript:scroll(0,0)"><i class="iconfont"></i></a>
      </div>-->
    </div>
</div>


<div class="confont-bottom3 clearfix">
    <div class="confont-con">
        <div class="pt-30 di-ib">
            <img src="__ROOT__/public/assets/images/logo_bottom.png" width="300px">
        </div>
        <div class="pt-30 pull-right">
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=7">关于梦想</a></dt>
                <dd><a href="#">资质荣耀</a></dd>
                <dd><a href="/plus/list.php?tid=45">联系我们</a></dd>
                <dd><a href="/plus/list.php?tid=44">招贤纳士</a></dd>
            </dl>

            <!--<dl class="bottom-list">
                 <dt><a href="http://www.szcxmx.com/plus/list.php?tid=46">合作加盟</a></dt>
                 <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70802">合作优势</a></dd>
                 <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70803">合作流程</a></dd>
                 <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70805">伙伴查询</a></dd>
             </dl>-->
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=4">支持中心</a></dt>
                <dd><a href="/plus/list.php?tid=47">服务体系</a></dd>
                <dd><a href="/plus/list.php?tid=49">知识中心</a></dd>
                <dd><a href="/plus/list.php?tid=50">下载中心</a></dd>
            </dl>
            <dl class="bottom-list">
                <dt><a >站点地图</a></dt>
                <dd><a href="">TAG标签</a></dd>
                <dd><a >RSS标签</a></dd>
                <dd><a href="">专题列表</a></dd>
            </dl>
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=3">定制开发服务</a></dt>
                <dd><a href="/plus/list.php?tid=8">软件定制开发</a></dd>
                <dd><a href="/plus/list.php?tid=9">APP定制开发</a></dd>
                <dd><a href="/plus/list.php?tid=10">微信/支付宝开发</a></dd>
            </dl>
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=2">创新标准产品</a></dt>
                <dd><a href="/plus/list.php?tid=2">软件标准产品</a></dd>
                <dd><a href="/plus/list.php?tid=2">APP标准产品</a></dd>
                <dd><a href="/plus/list.php?tid=2">VIP+免费软件</a></dd>
            </dl>
            <dl class="bottom-list  mr-0" id="bottomList">
                <dd class="center">
                    <a >
                        <img src="__ROOT__/public/assets/images/weixin.png" width="15" class="pull-left mt-5">
                        我们的微信
                    </a>
                    <div class="di-n">
                        <img src="__ROOT__/public/assets/images/erweima.png" width="90">
                        <p class="fsize-12">扫描关注微信</p>
                    </div>
                </dd>
                <dd class="center">
                    <a >
                        <img src="__ROOT__/public/assets/images/weibo.png" width="15" height="14" class="pull-left mt-5">
                        我们的微博
                    </a>
                    <div class="di-n">
                        <img src="__ROOT__/public/assets/images/erweima_weibo.png" width="90">
                        <p class="fsize-12">扫描微博交流</p>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="bottom-footer-pr">
            <div class="confont-con lh-2em">
                <span class="mr-30 fcolor-66 fsize-12">地址：深圳市宝安区西乡银田工业区元匠坊4楼</span><br/>
                <span class="mr-30 fcolor-66 fsize-12">咨询热线：4000-670-790    0755-33150819</span><br/>
                <span class="mr-30 fcolor-66 fsize-12">客服热线：18820152035</span>
            </div>
            <!--     <div class="hr-sb-gray1 mt-5 mb-5"></div> -->
            <div class="confont-con lh-2em pt-10">
                <p class="fcolor-66 fsize-12 di-i">Copyright © 2015-2018 CXMX Software Co.,Ltd All Rights Reserved <span class="fcolor-f4"><a href="http://admin.simpro.cn/sim_mana.php" target="_blank" rel="nofollow"><span class="fcolor-f4">管理入口</span></a></span>
                </p>
                <p class="fcolor-66  fsize-12">
                    软件企业编号：粤B-2015-0305 | 中国电子商务协会会员 | 软件行业协会会员 | <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备17038158号</a> |  <a href="http://www.cxmx90.com/plus/list.php?tid=3" target="_blank">软件定制开发</a> | <a href="http://www.cxmx90.com/" target="_blank">深圳软件开发</a>  |<a href="http://www.cxmx90.com/sitemap.html" target="_blank">网站地图</a> | <a href="http://www.cxmx90.com/sitemap.xml" target="_blank">XML地图</a>

                </p>
            </div>
        </div>
    </div>
</div>


<!-- 城市选择器 -->
<script src="__ROOT__/public/assets/js/jquery-1.11.1.js"></script>
<script src="__ROOT__/public/assets/js/jquery-1.8.3.min.js"></script>
<script src="__ROOT__/public/assets/js/city.js"></script>
<script src="__ROOT__/public/assets/js/jquery.autocomplete.js"></script>
<script src="__ROOT__/public/assets/js/city_style.js"></script>

<!-- 城市选择器end -->
<script src="__ROOT__/public/assets/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="__ROOT__/public/assets/js/sp_homepage.js"></script>











</body>

</html>
