
<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>创新标准产品_深圳市创新梦想科技有限公司</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<script language="javascript">
msg = "创新标准产品_深圳市创新梦想科技有限公司";

msg = "" + msg;pos = 0;
function scrollMSG() {
document.title = msg.substring(pos, msg.length) + msg.substring(0, pos);
pos++;
if (pos >  msg.length) pos = 0
window.setTimeout("scrollMSG()",200);
}
scrollMSG();
    </script>

	{include file="common/meta" /}
</head>

<body>
<!--状态栏-->
{include file="common/head" /}
<!-- 整个头部 end-->
<!--标准产品栏目页头部banner不轮播-->
<div class="product-list-up-banner">
    <div class="product-list-up-bannerImg">
        <img src="__ROOT__/public/assets/images/product_banner02.jpg" alt="" width="1920"/>
    </div>
	<div class="product-banner-Txtcon">
		<div class="product-list-up-bannerTxt">
			<p class=" fsize-36 mb-20 fcolor-white">创新标准产品</p>
			<p class="fsize-16 lh-2em mb-10 fcolor-white">创新梦想经过多年的经验积累及沉淀，开发出一系列标准软件产品，均采用&ldquo;标准+定制&rdquo;的模式，可以为您提供政府及企业相关的各类办公管理软件。</p>
		</div>
	</div>
</div>    
<!--标准产品栏目页头部banner不轮播结束-->
<div class="confont-con">
	<!-- 面包屑布局 -->
    <div class="confont-next lh-50">
        <p><i class="iconfont"></i>您所在的位置：<a href='http://www.cxmx90.com/'>首页</a> > <a href='/plus/list.php?tid=2'>创新标准产品</a></p>
    </div><!-- 面包屑结束 -->
   <!-- 森普标准产品P3开始-->
    <div  class="product-p3">
	
	
	
	      <div class="product-list-up">
        	<a href="/plus/list.php?tid=61" title="软件标准产品" class="product-list-upCon product-list-upCon2 pull-left">
            	<span class="di-ib center-text fsize-36 fweight-900">SFW</span>
                <h1 class="di-ib fsize-28 fcolor-white fweight-100 ml-15">软件标准产品</h1>
            </a>
            <a href="/plus/list.php?tid=61" title="软件标准产品" class="product-TxtCon pull-right">
                <img src="__ROOT__/public/assets/images/product_txtCon.png">
                <p class=" fcolor-99 lh-2em mt-10">创新梦想是一家专业提供软件开发、手机客户端APP开发的软件公司，在这里我们根据多年的政府管理软件开发经验为你提供专业的政府项目解决方案。</p>
               
            </a>
         </div>
		 
		 
		 
		 
         <ul class="product-list-bottom clearfix">
			
			<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/gov/2017/0809/338.html" title="金融期货交易平台" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">金融期货交易平台</a><br/>
					<a href="/products/gov/2017/0809/338.html" class="fcolor-99 lh-2em">金殿环球金融投资集团(简称:金殿环球)，凭借香港作为亚洲金融中心及健全良好的法律制度等优势，锐意为华人投资者提供全球最优质的 ... </a><br/>
					<a href="/products/gov/2017/0809/338.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/gov/2017/0709/63.html" title="大型接码平台" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">大型接码平台</a><br/>
					<a href="/products/gov/2017/0709/63.html" class="fcolor-99 lh-2em">本平台是一套竞争力强大的大型优质验证码平台， 包含的功能非常强大及齐全，相应的CS、BS、Windos服务、API接口等各种模块软件一应俱 ... </a><br/>
					<a href="/products/gov/2017/0709/63.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/gov/2017/0714/286.html" title="ERP管理系统" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">ERP管理系统</a><br/>
					<a href="/products/gov/2017/0714/286.html" class="fcolor-99 lh-2em">ERP管理系统，其核心思想是供应链管理，指建立在信息技术基础上，以系统化的管理思想，通过融合数据库技术、计算机辅助开发工具等 ... </a><br/>
					<a href="/products/gov/2017/0714/286.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/gov/2017/0713/285.html" title="OA协同办公系统" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">OA协同办公系统</a><br/>
					<a href="/products/gov/2017/0713/285.html" class="fcolor-99 lh-2em">OA协同办公管理系统可以优化现有的管理组织结构，调整管理体制，在提高效率的基础上，增加协同办公能力，强化决策的一致性，最后 ... </a><br/>
					<a href="/products/gov/2017/0713/285.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/gov/2017/0714/311.html" title="CRM客户管理系统" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">CRM客户管理系统</a><br/>
					<a href="/products/gov/2017/0714/311.html" class="fcolor-99 lh-2em">产品介绍 CRM即客户关系管理，是利用信息科学技术，实现市场营销、销售、服务等活动自动化，使企业能更高效地为客户提供满意、周到 ... </a><br/>
					<a href="/products/gov/2017/0714/311.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/gov/2017/0709/66.html" title="智能流量营销平台" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">智能流量营销平台</a><br/>
					<a href="/products/gov/2017/0709/66.html" class="fcolor-99 lh-2em">流量营销平台是 专业用于手机流量营销或渠批次的，主要包含有六大模块，WEB前端、WEB系统后台管理、API接口、运营商通道充值状态接口 ... </a><br/>
					<a href="/products/gov/2017/0709/66.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
 
			
			 
							         </ul>
    </div><!--end-->
    <!-- 森普标准产品P5开始-->
    <div  class="product-p5 product-p mt-50">
	
	 <div class="product-list-up">
        	<a href="/plus/list.php?tid=62" title="APP标准产品" class="product-list-upCon pull-left">
            	<span class="di-ib center-text fsize-36 fweight-900">APP</span>
                <h1 class="di-ib fsize-26 fcolor-white fweight-100 ml-15">APP标准产品</h1>
            </a>
            <a href="/plus/list.php?tid=62" title="APP标准产品" class="product-TxtCon pull-right">
                <img src="__ROOT__/public/assets/images/product_txtCon.png">
                <p class=" fcolor-99 lh-2em mt-10">创新梦想是一家专业提供软件开发、手机客户端APP开发的软件公司，我们根据多年的项目经验为你提供最专业的Web、APP客户端的产品信息。</p>
                
            </a>
         </div>
		 
		 
         <ul class="product-list-bottom clearfix">
				<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/corp/2017/0720/316.html" title="互联网金融借贷APP" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">互联网金融借贷APP</a><br/>
					<a href="/products/corp/2017/0720/316.html" class="fcolor-99 lh-2em">许多人都会面临急需用钱的时候，找朋友借又不好意思开口，怎么办？现在随着互联网金融的发展，贷款越来越方便，只要你通过手机来 ... </a><br/>
					<a href="/products/corp/2017/0720/316.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/corp/2017/0720/318.html" title="网约车打车系统" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">网约车打车系统</a><br/>
					<a href="/products/corp/2017/0720/318.html" class="fcolor-99 lh-2em">创新梦想网约车系统网约车乘客端的核心功能为地图定位、一键叫车、语音叫车、专车分类、预约用车、预估价格、在线支付、订单评价 ... </a><br/>
					<a href="/products/corp/2017/0720/318.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/corp/2017/0720/319.html" title="网上商城系统" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">网上商城系统</a><br/>
					<a href="/products/corp/2017/0720/319.html" class="fcolor-99 lh-2em">创新梦想网上商城类似于现实世界当中的商店，差别是利用电子商务的各种手段，达成从买到卖的过程的虚拟商店，从而减少中间环节， ... </a><br/>
					<a href="/products/corp/2017/0720/319.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/corp/2017/0720/320.html" title="聊天交友系统" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">聊天交友系统</a><br/>
					<a href="/products/corp/2017/0720/320.html" class="fcolor-99 lh-2em">伴随着新经济的发展，互联网逐渐成为了世界的主导，在短短数十年的时间里，网络变得越来越完善，越来越可爱，它拉近了人与人之间 ... </a><br/>
					<a href="/products/corp/2017/0720/320.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/corp/2017/0714/287.html" title="共享单车系统APP" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">共享单车系统APP</a><br/>
					<a href="/products/corp/2017/0714/287.html" class="fcolor-99 lh-2em">最省心的解决方案 通过APP+单车+智能锁实现扫码开锁、GPS定位、预约用车、远程寻车，实时计费等功能。 创新梦想单车APP 功能 创新梦想 ... </a><br/>
					<a href="/products/corp/2017/0714/287.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
<li>
				<div class="product-list-imgCon di-ib">
					<img src="__ROOT__/public/assets/images/product_icon_1.png" width="35" alt=""/>
				</div>
				<div class="product-list-TxtCon">
					<a href="/products/corp/2017/0720/317.html" title="团购外卖系统APP" class="fsize-20 fcolor-33 di-ib mb-10 fweight-900">团购外卖系统APP</a><br/>
					<a href="/products/corp/2017/0720/317.html" class="fcolor-99 lh-2em">外卖O2O系统是基于GPS地址位置定位，推荐附近外卖商家用户，支持自动下单、付款，商家可以选择自主配送、第三方配送、第三方代购 ... </a><br/>
					<a href="/products/corp/2017/0720/317.html" class="fcolor-99 lh-2em fsize-14">查看详情</a>     
					<!-- <a href='
																											' class="fcolor-99 lh-2em fsize-14">相关案例</a> -->
				</div>
				<span class=" di-b"></span>
			</li>
 
             
							         </ul>
    </div><!--end-->
	
	
   
							         </ul>
    </div> <div style="width:100%; height:40px; overflow:hidden; clear:both;"></div>
</div>

<div class="go-top">
    <div class="before-icon">
        <div onClick="boxOs()">
          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes"><i class="iconfont"></i></a>
        </div>
		<div onClick="boxOs()">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes"><i class="iconfont"></i></a>
        </div>
        <div>
            <i class="iconfont"></i>
        </div>
        <div onClick="window.open('/plus/list.php?tid=49')">
            <i class="iconfont"></i>
        </div>
        <div> 
          <a href="javascript:scroll(0,0)">
            <i class="iconfont"></i>
          </a>  
        </div>
    </div>
    <div class="after-con">
        <div class="st">
            <img src="__ROOT__/public/assets/images/qq.png" width="24" >
            业务咨询<br>咨询在线客服
        </div>
		<div class="sp">
            <img src="__ROOT__/public/assets/images/qq.png" width="24" >
            合作咨询<br>咨询在线客服
        </div>
        <div class="erweima">
            <div>
                <img src="__ROOT__/public/assets/images/erweima.png" width="98" height="98">
                <p>我们的微信</p>
            </div>
            <div>
                <img src="__ROOT__/public/assets/images/erweima_weibo.png" width="98" height="98">
                <P>我们的微博</P>
            </div>
        </div>
        <div class="help">
            点击图标进入帮助中心
        </div>
        <!--<div class="di-n">
      <a href="javascript:scroll(0,0)"><i class="iconfont"></i></a>
      </div>-->
    </div>
</div>


<div class="confont-bottom3 clearfix">
  <div class="confont-con">
    <div class="pt-30 di-ib">
        <img src="__ROOT__/public/assets/images/logo_bottom.png" width="300px">
    </div>
    <div class="pt-30 pull-right">
        <dl class="bottom-list">
            <dt><a href="/plus/list.php?tid=7">关于梦想</a></dt>
            <dd><a href="#">资质荣耀</a></dd>
            <dd><a href="/plus/list.php?tid=45">联系我们</a></dd>
            <dd><a href="/plus/list.php?tid=44">招贤纳士</a></dd>
        </dl>
      
       <!--<dl class="bottom-list">
            <dt><a href="http://www.szcxmx.com/plus/list.php?tid=46">合作加盟</a></dt>
            <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70802">合作优势</a></dd>
            <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70803">合作流程</a></dd>
            <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70805">伙伴查询</a></dd>
        </dl>-->
        <dl class="bottom-list">
            <dt><a href="/plus/list.php?tid=4">支持中心</a></dt>
            <dd><a href="/plus/list.php?tid=47">服务体系</a></dd>
            <dd><a href="/plus/list.php?tid=49">知识中心</a></dd>
            <dd><a href="/plus/list.php?tid=50">下载中心</a></dd>
        </dl>
        <dl class="bottom-list">
            <dt><a >站点地图</a></dt>
            <dd><a href="">TAG标签</a></dd>
            <dd><a >RSS标签</a></dd>
            <dd><a href="">专题列表</a></dd>
        </dl>
        <dl class="bottom-list">
            <dt><a href="/plus/list.php?tid=3">定制开发服务</a></dt>
            <dd><a href="/plus/list.php?tid=8">软件定制开发</a></dd>
            <dd><a href="/plus/list.php?tid=9">APP定制开发</a></dd>
            <dd><a href="/plus/list.php?tid=10">微信/支付宝开发</a></dd>
        </dl>
        <dl class="bottom-list">
            <dt><a href="/plus/list.php?tid=2">创新标准产品</a></dt>
            <dd><a href="/plus/list.php?tid=2">软件标准产品</a></dd>
            <dd><a href="/plus/list.php?tid=2">APP标准产品</a></dd>
            <dd><a href="/plus/list.php?tid=2">VIP+免费软件</a></dd>
        </dl>
        <dl class="bottom-list  mr-0" id="bottomList">
            <dd class="center">
                <a >
                    <img src="__ROOT__/public/assets/images/weixin.png" width="15" class="pull-left mt-5">
                    我们的微信
                </a>
                <div class="di-n">
                    <img src="__ROOT__/public/assets/images/erweima.png" width="90">
                    <p class="fsize-12">扫描关注微信</p>
                </div>
            </dd>
            <dd class="center">
                <a >
                    <img src="__ROOT__/public/assets/images/weibo.png" width="15" height="14" class="pull-left mt-5">
                    我们的微博
                </a>
                <div class="di-n">
                    <img src="__ROOT__/public/assets/images/erweima_weibo.png" width="90">
                    <p class="fsize-12">扫描微博交流</p>
                </div>
            </dd>
        </dl>
    </div>
    <div class="bottom-footer-pr">
        <div class="confont-con lh-2em">
            <span class="mr-30 fcolor-66 fsize-12">地址：深圳市宝安区西乡银田工业区元匠坊4楼</span><br/>
            <span class="mr-30 fcolor-66 fsize-12">咨询热线：4000-670-790    0755-33150819</span><br/>
            <span class="mr-30 fcolor-66 fsize-12">客服热线：18820152035</span>
        </div>
      <!--     <div class="hr-sb-gray1 mt-5 mb-5"></div> -->
        <div class="confont-con lh-2em pt-10">
            <p class="fcolor-66 fsize-12 di-i">Copyright © 2015-2018 CXMX Software Co.,Ltd All Rights Reserved <span class="fcolor-f4"><a href="http://admin.simpro.cn/sim_mana.php" target="_blank" rel="nofollow"><span class="fcolor-f4">管理入口</span></a></span>
            </p>
            <p class="fcolor-66  fsize-12">
              软件企业编号：粤B-2015-0305 | 中国电子商务协会会员 | 软件行业协会会员 | <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备17038158号</a> |  <a href="http://www.cxmx90.com/plus/list.php?tid=3" target="_blank">软件定制开发</a> | <a href="http://www.cxmx90.com/" target="_blank">深圳软件开发</a>  |<a href="http://www.cxmx90.com/sitemap.html" target="_blank">网站地图</a> | <a href="http://www.cxmx90.com/sitemap.xml" target="_blank">XML地图</a>

            </p>           
        </div>
    </div>
  </div>
</div>

<!-- 城市选择器 -->
<script src="__ROOT__/public/assets/js/jquery-1.11.1.js"></script>
<script src="__ROOT__/public/assets/js/jquery-1.8.3.min.js"></script>
<script src="__ROOT__/public/assets/js/city.js"></script>
<script src="__ROOT__/public/assets/js/jquery.autocomplete.js"></script>
<script src="__ROOT__/public/assets/js/city_style.js"></script>

<!-- 城市选择器end -->
<script src="__ROOT__/public/assets/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="__ROOT__/public/assets/js/sp_homepage.js"></script>






</body>

</html>
