
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>新闻中心_深圳市创新梦想科技有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <script language="javascript">
        msg = "新闻中心_深圳市创新梦想科技有限公司";

        msg = "" + msg;pos = 0;
        function scrollMSG() {
            document.title = msg.substring(pos, msg.length) + msg.substring(0, pos);
            pos++;
            if (pos >  msg.length) pos = 0
            window.setTimeout("scrollMSG()",200);
        }
        scrollMSG();
    </script>
    {include file="common/meta" /}
</head>
<body>
{include file="common/head" /}
<!-- 整个头部 end-->
<div class="confont-con  clearfix">
    <!--左边的导航列表-->
    <div class="confont-left  pull-left">
        <dl class="confont-left-top">
            <!-- 	0 -->
            <dt><i class="iconfont"></i>新闻中心</dt>


            <dd  class="">
                <a href="/plus/list.php?tid=14"><span class="iconfont fsize-20 mr-5"></span>公司动态</a>
            </dd>


            <dd  class="">
                <a href="/plus/list.php?tid=15"><span class="iconfont fsize-20 mr-5"></span>项目案例</a>
            </dd>


            <dd  class="">
                <a href="/plus/list.php?tid=16"><span class="iconfont fsize-20 mr-5"></span>员工风采</a>
            </dd>


            <dd  class="">
                <a href="/plus/list.php?tid=17"><span class="iconfont fsize-20 mr-5"></span>业界动态</a>
            </dd>


            <dd  class="">
                <a href="/plus/list.php?tid=18"><span class="iconfont fsize-20 mr-5"></span>最新公告</a>
            </dd>




        </dl>

        <dl class="mt-20">
            <dt><i class="iconfont fcolor-66"></i>联系我们</dt>
            <dd class="center h-100"><p class="pt-20 fcolor-66">了解更多详细信息请致电</p><b class="fsize-28 lh-50 fcolor-99">4000-670-790</b></dd>
            <dd class="center h-80 hr-db-gray-4 po-re">
                <p class="lh-30 fcolor-66 pt-5 pb-5">或给我们留言</p>
                <img class=" pull-left pl-50 pr-5" src="__ROOT__/public/assets/images/QQ_icon.png" width="24">
                <span onClick="location.href=('http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes')"  class="btn-button-gb-blue  pr-10 pl-10 di-ib pull-left">在线留言</span>
            </dd>
        </dl>

    </div>	<!--左边结束-->
    <!--右边的内容-->
    <div class="confont-right pull-right">
        <!--栏目页头部-->
        <div class="h-50 lh-50 clearfix">
            <div class="pull-left fcolor-blue2 fsize-18"><i class="iconfont fsize-28 fweight-900 pull-left fcolor-yellow mr-5"></i>新闻中心</div>
            <div class="confont-next pull-right">
                <p><i class="iconfont"></i>您所在的位置：<span><a href='http://www.cxmx90.com/'>首页</a> > <a href='/plus/list.php?tid=5'>新闻中心</a> </p>
            </div>
        </div><!--栏目页头部结束-->
        <!--栏目页头部banner不轮播-->
        <div class="po-re list-top-banner">
            <div class="po-ab"><img src="__ROOT__/public/assets/images/product_header.png" width="940px" height="250px"></div>
            <div class="po-ab pt-20 pb-10 pl-25 pr-25">
                <div class=" clearfix">
                    <img src="__ROOT__/public/assets/vimages/product_header_img.png" width="60px" class="pull-left mr-20">
                    <h2 class="fsize-30 fcolor-white pull-left lh-2em">新闻中心</h2>
                </div>
                <div class=" pl-80 w-640">
                    <p class="fcolor-white">深圳市创新梦想科技有限公司是一家专业提供软件开发、手机客户端APP开发的软件公司，新闻中心为您提供本公司及本行业最新的新闻动态。</p>

                    <div class=" mt-35 clearfix">

                        <a href="/plus/list.php?tid=4" class="pl-25 pr-25 pt-10 pb-10 fsize-14 pull-left fcolor-white mr-30">服务支持</a>

                        <a href="/plus/list.php?tid=7" class="pl-25 pr-25 pt-10 pb-10 fsize-14 pull-left fcolor-white">关于梦想</a>

                    </div>

                </div>
            </div>
        </div>

        <div class="h-50 lh-50 mt-20">
            <span class="hr-dl-yellow-4 pl-10 lh-26 di-ib fsize-18">公司动态</span>
            <a href="/plus/list.php?tid=14"><p class="fcolor-blue2 pull-right">MORE>></p></a>
        </div><!--end-->
        <div class="clearfix news-list-confont mb-20">
            <div class="hr-s-gray1 pull-left over-h">
                <img src="__ROOT__/public/assets/images/news_list_01.png" width="280" height="210">
                <div class="news-list-shade">
                    <h4>公司动态</h4>
                    <p class="">创新梦想软件是专业提供软件定制开发的软件技术公司，在这里为你展示企业最新的新闻</p>
                </div>
            </div>
            <div class="pull-right ">

                <a  class="clearfix di-b">
                    <h3 class=" fsize-18 fweight-900 pull-left lh-22em">铁汉生态关于与深圳爱淘苗电子商务科技有限公司签署《铁汉生态招标</h3>
                    <p class="fcolor-99 clearboth fsize-14 lh-2em">通过此次招采平台的搭建实现公司所有采购在互联网上直接在线招投标，并在线完成定价、深圳 APP开发公司 合同生成、验收、 深圳APP开发 公司支付等采购过程，有助于公司降低采购 ... </p>
                </a>

                <ul class="clearfix mt-10">

                    {volist name="data1" id="d"}

                    <li class="lh-2em">
                        <a href="{:url('Index/News/article',array('id'=>$d.id))}" title="{$d.name}">
                            <p class="pull-left"><i class="yellow-dian"></i><?php echo mb_substr(strip_tags(html_entity_decode($d['name'])),0,30); ?></p>
                            <p class="pull-right "><?php echo date('Y-m-d',time($d['createtime'])); ?></p>
                        </a>
                    </li>


                    {/volist}


                    <!--<li class="lh-2em">-->
                        <!--<a href="/news/company/2018/0707/467.html" title="美食app软件开发需要社交性吗">-->
                            <!--<p class="pull-left"><i class="yellow-dian"></i>美食app软件开发需要社交性吗</p>-->
                            <!--<p class="pull-right ">2018-07-07</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="lh-2em">-->
                        <!--<a href="/news/company/2018/0701/460.html" title="深圳诈骗团伙研发“对赌软件”450名民警雷霆出击刑拘249名嫌犯">-->
                            <!--<p class="pull-left"><i class="yellow-dian"></i>深圳诈骗团伙研发“对赌软件”450名民警雷霆出击刑拘249名嫌犯</p>-->
                            <!--<p class="pull-right ">2018-07-01</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="lh-2em">-->
                        <!--<a href="/news/company/2018/0701/459.html" title="2018软件开发你应该学会的一项技能">-->
                            <!--<p class="pull-left"><i class="yellow-dian"></i>2018软件开发你应该学会的一项技能</p>-->
                            <!--<p class="pull-right ">2018-07-01</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="lh-2em">-->
                        <!--<a href="/news/company/2018/0626/452.html" title="深圳软件开发公司经营范围_【真实案例】">-->
                            <!--<p class="pull-left"><i class="yellow-dian"></i>深圳软件开发公司经营范围_【真实案例】</p>-->
                            <!--<p class="pull-right ">2018-06-26</p>-->
                        <!--</a>-->
                    <!--</li>-->


                </ul>
            </div>
        </div>






        <div class="h-50 lh-50 mt-20">
            <span class="hr-dl-yellow-4 pl-10 lh-26 di-ib fsize-18">项目案例</span>
            <a href="/plus/list.php?tid=15"><p class="fcolor-blue2 pull-right">MORE>></p></a>
        </div><!--end-->
        <div class="clearfix news-list-confont mb-20">
            <div class="hr-s-gray1 pull-left over-h">
                <img src="__ROOT__/public/assets/images/news_list_02.png" width="280" height="210">
                <div class="news-list-shade">
                    <h4>项目案例</h4>
                    <p class="">创新梦想软件是一家技术服务型公司,这里主要展示本公司与各行业客户进行合作商谈的</p>
                </div>
            </div>
            <div class="pull-right ">

                <a  class="clearfix di-b">
                    <h3 class=" fsize-18 fweight-900 pull-left lh-22em">步步到物流快递类app</h3>
                    <p class="fcolor-99 clearboth fsize-14 lh-2em">步步到物流快递类app ... </p>
                </a>

                <ul class="clearfix mt-10">


                    {volist name="data2" id="d"}

                    <li class="lh-2em">
                        <a href="{:url('Index/News/article',array('id'=>$d.id))}" title="{$d.name}">
                            <p class="pull-left"><i class="yellow-dian"></i><?php echo mb_substr(strip_tags(html_entity_decode($d['name'])),0,30); ?></p>
                            <p class="pull-right "><?php echo date('Y-m-d',time($d['createtime'])); ?></p>
                        </a>
                    </li>


                    {/volist}


                </ul>
            </div>
        </div>




        <div class="h-50 lh-50 mt-20">
            <span class="hr-dl-yellow-4 pl-10 lh-26 di-ib fsize-18">员工风采</span>
            <a href="/plus/list.php?tid=16"><p class="fcolor-blue2 pull-right">MORE>></p></a>
        </div><!--end-->
        <div class="clearfix news-list-confont mb-20">
            <div class="hr-s-gray1 pull-left over-h">
                <img src="__ROOT__/public/assets/images/news_list_03.png" width="280" height="210">
                <div class="news-list-shade">
                    <h4>员工风采</h4>
                    <p class="">员工是一个企业的血液，让每一位员工充满激情实现自身价值是本公司所追求的最终目的</p>
                </div>
            </div>
            <div class="pull-right ">

                <a  class="clearfix di-b">
                    <h3 class=" fsize-18 fweight-900 pull-left lh-22em">创新梦想-户外拓展活动</h3>
                    <p class="fcolor-99 clearboth fsize-14 lh-2em">为了增进公司员工之间的感情，好的丰富员工文化生活，提高工作效率，充分调动员工工作积极性，增强团队凝聚力，深圳市创新梦想科技有限公司有限公司于4月23日组织公司员工一 ... </p>
                </a>

                <ul class="clearfix mt-10">


                    {volist name="data3" id="d"}

                    <li class="lh-2em">
                        <a href="{:url('Index/News/article',array('id'=>$d.id))}" title="{$d.name}">
                            <p class="pull-left"><i class="yellow-dian"></i><?php echo mb_substr(strip_tags(html_entity_decode($d['name'])),0,30); ?></p>
                            <p class="pull-right "><?php echo date('Y-m-d',time($d['createtime'])); ?></p>
                        </a>
                    </li>


                    {/volist}



                </ul>
            </div>
        </div>


        <div class="h-50 lh-50 mt-20">
            <span class="hr-dl-yellow-4 pl-10 lh-26 di-ib fsize-18">业界动态</span>
            <a href="/plus/list.php?tid=17"><p class="fcolor-blue2 pull-right">MORE>></p></a>
        </div><!--end-->
        <div class="clearfix news-list-confont mb-20">
            <div class="hr-s-gray1 pull-left over-h">
                <img src="__ROOT__/public/assets/images/news_list_04.png" width="280" height="210">
                <div class="news-list-shade">
                    <h4>业界动态</h4>
                    <p class="">互联网思维在各大领域和各类行业不断被提及,在这里我们为你展示最新的业界新闻资讯</p>
                </div>
            </div>
            <div class="pull-right ">

                <a  class="clearfix di-b">
                    <h3 class=" fsize-18 fweight-900 pull-left lh-22em">西安app开发公司哪家靠谱 西安java电商平台开发</h3>
                    <p class="fcolor-99 clearboth fsize-14 lh-2em">优势：紧密合作的技术团队加上自动自发的激励制度，以及有着丰富咨询管理经验的产品经理能够迅速找准企业需求并完成定位，技术团队快速完成开发，同时提供极具竞争优势的产 ... </p>
                </a>

                <ul class="clearfix mt-10">


                    {volist name="data4" id="d"}

                    <li class="lh-2em">
                        <a href="{:url('Index/News/article',array('id'=>$d.id))}" title="{$d.name}">
                            <p class="pull-left"><i class="yellow-dian"></i><?php echo mb_substr(strip_tags(html_entity_decode($d['name'])),0,30); ?></p>
                            <p class="pull-right "><?php echo date('Y-m-d',time($d['createtime'])); ?></p>
                        </a>
                    </li>


                    {/volist}



                </ul>
            </div>
        </div>


        <div class="h-50 lh-50 mt-20">
            <span class="hr-dl-yellow-4 pl-10 lh-26 di-ib fsize-18">最新公告</span>
            <a href="/plus/list.php?tid=18"><p class="fcolor-blue2 pull-right">MORE>></p></a>
        </div><!--end-->
        <div class="clearfix news-list-confont mb-20">
            <div class="hr-s-gray1 pull-left over-h">
                <img src="__ROOT__/public/assets/images/news_list_05.png" width="280" height="210">
                <div class="news-list-shade">
                    <h4>最新公告</h4>
                    <p class="">创新梦想软件是一家专业提供软件定制开发的技术公司，这里为你展示公司最新的公告通</p>
                </div>
            </div>
            <div class="pull-right ">

                <a  class="clearfix di-b">
                    <h3 class=" fsize-18 fweight-900 pull-left lh-22em">创新梦想2018五一劳动节放假通知</h3>
                    <p class="fcolor-99 clearboth fsize-14 lh-2em">五一放假 ... </p>
                </a>

                <ul class="clearfix mt-10">

                    {volist name="data5" id="d"}

                    <li class="lh-2em">
                        <a href="{:url('Index/News/article',array('id'=>$d.id))}" title="{$d.name}">
                            <p class="pull-left"><i class="yellow-dian"></i><?php echo mb_substr(strip_tags(html_entity_decode($d['name'])),0,30); ?></p>
                            <p class="pull-right "><?php echo date('Y-m-d',time($d['createtime'])); ?></p>
                        </a>
                    </li>


                    {/volist}


                </ul>
            </div>
        </div>



    </div><!--右边内容结束-->
</div>

<div class="go-top">
    <div class="before-icon">
        <div onClick="boxOs()">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes"><i class="iconfont"></i></a>
        </div>
        <div onClick="boxOs()">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes"><i class="iconfont"></i></a>
        </div>
        <div>
            <i class="iconfont"></i>
        </div>
        <div onClick="window.open('/plus/list.php?tid=49')">
            <i class="iconfont"></i>
        </div>
        <div>
            <a href="javascript:scroll(0,0)">
                <i class="iconfont"></i>
            </a>
        </div>
    </div>
    <div class="after-con">
        <div class="st">
            <img src="__ROOT__/public/assets/images/qq.png" width="24" >
            业务咨询<br>咨询在线客服
        </div>
        <div class="sp">
            <img src="__ROOT__/public/assets/images/qq.png" width="24" >
            合作咨询<br>咨询在线客服
        </div>
        <div class="erweima">
            <div>
                <img src="__ROOT__/public/assets/images/erweima.png" width="98" height="98">
                <p>我们的微信</p>
            </div>
            <div>
                <img src="__ROOT__/public/assets/images/erweima_weibo.png" width="98" height="98">
                <P>我们的微博</P>
            </div>
        </div>
        <div class="help">
            点击图标进入帮助中心
        </div>
        <!--<div class="di-n">
      <a href="javascript:scroll(0,0)"><i class="iconfont"></i></a>
      </div>-->
    </div>
</div>


<div class="confont-bottom3 clearfix">
    <div class="confont-con">
        <div class="pt-30 di-ib">
            <img src="__ROOT__/public/assets/images/logo_bottom.png" width="300px">
        </div>
        <div class="pt-30 pull-right">
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=7">关于梦想</a></dt>
                <dd><a href="#">资质荣耀</a></dd>
                <dd><a href="/plus/list.php?tid=45">联系我们</a></dd>
                <dd><a href="/plus/list.php?tid=44">招贤纳士</a></dd>
            </dl>

            <!--<dl class="bottom-list">
                 <dt><a href="http://www.szcxmx.com/plus/list.php?tid=46">合作加盟</a></dt>
                 <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70802">合作优势</a></dd>
                 <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70803">合作流程</a></dd>
                 <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70805">伙伴查询</a></dd>
             </dl>-->
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=4">支持中心</a></dt>
                <dd><a href="/plus/list.php?tid=47">服务体系</a></dd>
                <dd><a href="/plus/list.php?tid=49">知识中心</a></dd>
                <dd><a href="/plus/list.php?tid=50">下载中心</a></dd>
            </dl>
            <dl class="bottom-list">
                <dt><a >站点地图</a></dt>
                <dd><a href="">TAG标签</a></dd>
                <dd><a >RSS标签</a></dd>
                <dd><a href="">专题列表</a></dd>
            </dl>
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=3">定制开发服务</a></dt>
                <dd><a href="/plus/list.php?tid=8">软件定制开发</a></dd>
                <dd><a href="/plus/list.php?tid=9">APP定制开发</a></dd>
                <dd><a href="/plus/list.php?tid=10">微信/支付宝开发</a></dd>
            </dl>
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=2">创新标准产品</a></dt>
                <dd><a href="/plus/list.php?tid=2">软件标准产品</a></dd>
                <dd><a href="/plus/list.php?tid=2">APP标准产品</a></dd>
                <dd><a href="/plus/list.php?tid=2">VIP+免费软件</a></dd>
            </dl>
            <dl class="bottom-list  mr-0" id="bottomList">
                <dd class="center">
                    <a >
                        <img src="__ROOT__/public/assets/images/weixin.png" width="15" class="pull-left mt-5">
                        我们的微信
                    </a>
                    <div class="di-n">
                        <img src="__ROOT__/public/assets/images/erweima.png" width="90">
                        <p class="fsize-12">扫描关注微信</p>
                    </div>
                </dd>
                <dd class="center">
                    <a >
                        <img src="__ROOT__/public/assets/images/weibo.png" width="15" height="14" class="pull-left mt-5">
                        我们的微博
                    </a>
                    <div class="di-n">
                        <img src="__ROOT__/public/assets/images/erweima_weibo.png" width="90">
                        <p class="fsize-12">扫描微博交流</p>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="bottom-footer-pr">
            <div class="confont-con lh-2em">
                <span class="mr-30 fcolor-66 fsize-12">地址：深圳市宝安区西乡银田工业区元匠坊4楼</span><br/>
                <span class="mr-30 fcolor-66 fsize-12">咨询热线：4000-670-790    0755-33150819</span><br/>
                <span class="mr-30 fcolor-66 fsize-12">客服热线：18820152035</span>
            </div>
            <!--     <div class="hr-sb-gray1 mt-5 mb-5"></div> -->
            <div class="confont-con lh-2em pt-10">
                <p class="fcolor-66 fsize-12 di-i">Copyright © 2015-2018 CXMX Software Co.,Ltd All Rights Reserved <span class="fcolor-f4"><a href="http://admin.simpro.cn/sim_mana.php" target="_blank" rel="nofollow"><span class="fcolor-f4">管理入口</span></a></span>
                </p>
                <p class="fcolor-66  fsize-12">
                    软件企业编号：粤B-2015-0305 | 中国电子商务协会会员 | 软件行业协会会员 | <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备17038158号</a> |  <a href="http://www.cxmx90.com/plus/list.php?tid=3" target="_blank">软件定制开发</a> | <a href="http://www.cxmx90.com/" target="_blank">深圳软件开发</a>  |<a href="http://www.cxmx90.com/sitemap.html" target="_blank">网站地图</a> | <a href="http://www.cxmx90.com/sitemap.xml" target="_blank">XML地图</a>

                </p>
            </div>
        </div>
    </div>
</div>


<!-- 城市选择器 -->
<script src="__ROOT__/public/assets/js/jquery-1.11.1.js"></script>
<script src="__ROOT__/public/assets/js/jquery-1.8.3.min.js"></script>
<script src="__ROOT__/public/assets/js/city.js"></script>
<script src="__ROOT__/public/assets/js/jquery.autocomplete.js"></script>
<script src="__ROOT__/public/assets/js/city_style.js"></script>

<!-- 城市选择器end -->
<script src="__ROOT__/public/assets/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="__ROOT__/public/assets/js/sp_homepage.js"></script>








</body>
</html>