<div class="nav-navbar">
    <div class="nav-test"></div>

    <div class="confont-top">
        <div class="confont-con">
            <a class="pull-left nolink fcolor-white fsize-12 mr-20 active" target="_parent" href="/" title="创新梦想官网首页">
                欢迎访问软件定制开发首页
            </a>
            <a class="pull-left nolink fcolor-white fsize-12 mr-20" target="_blank" href="#" title="创新梦想免费软件中心">
                免费软件中心
            </a>
            <a class="pull-left nolink fcolor-white fsize-12 mr-20" target="_blank" href="http://www.cxmx90.cn" title="创新梦想网络推广部">
                深圳软件开发推广部
            </a>



            <form  name="formsearch" action="\plus/search.php" class="so-form mr-20">
                <input type="hidden" name="domains" value="www.dedecms.com">
                <input type="hidden" name="kwtype" value="0" />
                <input type="text" name="q" class="so-input" placeholder="请输入搜索内容">
                <input type="submit" class="so-button">
            </form>
            <div class="pull-right mr-20">
                <a class="fcolor-white nolink mr-15 fsize-12"  href="/plus/list.php?tid=45">咨询热线：18820152035</a>
            </div>
        </div>
    </div>

    <div class="confont-nav">
        <div class="confont-con clearboth">
            <div class="logo pull-left  mr-20 mt-20"><a href="/" title="深圳市创新梦想科技有限公司"><img src="__ROOT__/public/assets/images/logo.png" alt="深圳市创新梦想科技有限公司" width="300px"></a></div>
            <div class="pull-left po-re">
                <ul class="nav">

                    <li class="down"><a href="{:url('solution/index')}" title="解决方案">解决方案</a></li>

                    <li class="down"><a href="{:url('product/index')}" title="创新标准产品">创新标准产品</a></li>

                    <li class="down"><a href="{:url('custom/index')}" title="定制开发服务">定制开发服务</a></li>

                    <li class="down"><a href="serve.html" title="服务支持">服务支持</a></li>

                    <li class="down"><a href="{:url('news/index')}" title="新闻中心">新闻中心</a></li>

                    <li class="down"><a href="case.html" title="客户案例">客户案例</a></li>

                    <li class="down"><a href="dream.html" title="关于梦想">关于梦想</a></li>

                </ul>
                <!-- 导航下拉菜单 -->
                <div class="nav-down clearboth">
                    <!-- 解决方案 -->
                    <ul class="nav-down-list">
                        {volist name="list" id="l"}
                        <li class="pull-left">
                            <a href="{:url('Index/Solution/category',array('id'=>$l.id))}" title="{$l.name}">{$l.name}</a>
                        </li>
                        {/volist}

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=19" title="综合集团">综合集团</a>-->
                        <!--</li>-->

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=21" title="制造行业">制造行业</a>-->
                        <!--</li>-->

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=25" title="服务行业">服务行业</a>-->
                        <!--</li>-->

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=27" title="金融行业">金融行业</a>-->
                        <!--</li>-->

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=26" title="IT&电子">IT&电子</a>-->
                        <!--</li>-->

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=20" title="政府与公共部门">政府与公共部门</a>-->
                        <!--</li>-->

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=22" title="文体教育">文体教育</a>-->
                        <!--</li>-->

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=23" title="交通运输">交通运输</a>-->
                        <!--</li>-->

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=24" title="商贸零售">商贸零售</a>-->
                        <!--</li>-->

                        <!--<li class="pull-left">-->
                        <!--<a href="/plus/list.php?tid=29" title="其它行业">其它行业</a>-->
                        <!--</li>-->


                    </ul>

                    <ul class="nav-down-list nav-down-list2">



                        {volist name="product_list" id="li"}
                        <a href="{:url('Index/Product/category',array('id'=>1))}" class=" h-20 lh-20 pl-5 mb-10 di-b" >
                            <span class="hr-dl-yellow-4 pl-10 di-ib fsize-16 fcolor-white">{$li.name}</span>
                        </a>

                        {volist name="li.chlid" id="c"}
                        <li class="pull-left">
                            <i class="iconfont fcolor-white"></i>
                            <a href="{:url('Index/Product/article',array('id'=>$c.id))}" title="{$c.name}">{$c.name}</a>
                        </li>
                        {/volist}
                        {/volist}

                    </ul>

                    <ul class="nav-down-list nav-down-list3">

                        <a  class=" h-20 lh-20 pl-5 pt-10 mb-10 clearfix di-b" >
                            <span class="hr-dl-yellow-4 pl-10 di-ib fsize-16 fcolor-white">定制开发服务内容</span>
                        </a>


                        <li class="pull-left">
                            <img src="__ROOT__/public/assets/images/place_software_w01.png" width="65">
                            <a href="{:url('Index/Custom/software')}">软件开发</a>
                        </li>

                        <li class="pull-left">
                            <img src="__ROOT__/public/assets/images/place_software_w03.png" width="65">
                            <a href="/plus/list.php?tid=9">APP开发</a>
                        </li>

                        <li class="pull-left">
                            <img src="__ROOT__/public/assets/images/place_software_w02.png" width="65">
                            <a href="/plus/list.php?tid=10">微信开发</a>
                        </li>

                        <li class="pull-left">
                            <img src="__ROOT__/public/assets/images/place_software_w04.png" width="65">
                            <a href="/plus/list.php?tid=11">电商平台开发</a>
                        </li>

                        <div class="pull-right">

                            <a href="/plus/list.php?tid=12" class="fsize-14 fcolor-white">
                                开发流程
                            </a>

                            <a href="/plus/list.php?tid=13" class="fsize-14 fcolor-white">
                                开发优势
                            </a>

                        </div>
                    </ul>


                    <ul class="nav-down-list">



                        <li class="pull-left">
                            <a href="/plus/list.php?tid=47" title="服务体系">服务体系</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=48" title="服务热线">服务热线</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=74" title="集团架构">集团架构</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=49" title="知识中心">知识中心</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=50" title="下载中心">下载中心</a>
                        </li>



                    </ul>

                    <ul class="nav-down-list">



                        <li class="pull-left">
                            <a href="{:url('Index/News/category',array('id'=>1))}" title="公司动态">公司动态</a>
                        </li>

                        <li class="pull-left">
                            <a href="{:url('Index/News/category',array('id'=>2))}" title="项目案例">项目案例</a>
                        </li>

                        <li class="pull-left">
                            <a href="{:url('Index/News/category',array('id'=>3))}" title="员工风采">员工风采</a>
                        </li>

                        <li class="pull-left">
                            <a href="{:url('Index/News/category',array('id'=>4))}" title="业界动态">业界动态</a>
                        </li>

                        <li class="pull-left">
                            <a href="{:url('Index/News/category',array('id'=>5))}" title="最新公告">最新公告</a>
                        </li>


                    </ul>

                    <ul class="nav-down-list">


                        <li class="pull-left">
                            <a href="/plus/list.php?tid=30" title="综合集团">综合集团</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=32" title="制造行业">制造行业</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=36" title="服务行业">服务行业</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=38" title="金融行业">金融行业</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=37" title="IT&电子">IT&电子</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=31" title="政府与公共部门">政府与公共部门</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=33" title="文体教育">文体教育</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=34" title="交通运输">交通运输</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=35" title="商贸零售">商贸零售</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=39" title="其它行业">其它行业</a>
                        </li>

                    </ul>

                    <ul class="nav-down-list" style="width: 710px;">



                        <li class="pull-left">
                            <a href="/plus/list.php?tid=40" title="公司简介">公司简介</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=41" title="企业文化">企业文化</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=43" title="品牌形象">品牌形象</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=44" title="招贤纳士">招贤纳士</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=73" title="发展历程">发展历程</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=72" title="资质荣耀">资质荣耀</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=46" title="开发流程">开发流程</a>
                        </li>

                        <li class="pull-left">
                            <a href="/plus/list.php?tid=45" title="联系我们">联系我们</a>
                        </li>


                    </ul>
                    <!-- 关于创新梦想end -->
                </div><!-- 导航下拉菜单end -->
            </div><!-- 导航条end -->
        </div><!-- 全部导航内容end -->
    </div>


</div>

