
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>定制开发服务_深圳市创新梦想科技有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <script language="javascript">
        msg = "定制开发服务_深圳市创新梦想科技有限公司";

        msg = "" + msg;pos = 0;
        function scrollMSG() {
            document.title = msg.substring(pos, msg.length) + msg.substring(0, pos);
            pos++;
            if (pos >  msg.length) pos = 0
            window.setTimeout("scrollMSG()",200);
        }
        scrollMSG();
    </script>
    {include file="common/meta" /}
</head>

<body>


{include file="common/head" /}


<div class="confont-ban">
    <ul class="ban-img">
        <li>
            <div class="index-ban-txt ">
                <h1>创新梦想定制开发服务</h1>
                <h2>为您打造专属互联网产品</h2>
                <p>最完善的开发流程、最专业的技术团队、最透明的开发过程</p>
                <p>专注、专心、专业——为您服务！</p>
                <br/>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes" target="blank" class="btn-button-bg-white pl-35 pr-35 pt-10 pb-10 fsize-16">立即咨询</a>
            </div>
            <img src="__ROOT__/public/assets/images/banner_service_01.jpg">
        </li>
        <li>
            <div class="index-ban-txt pl-30">
                <h1>引领互联网时代潮流</h1>
                <h2>创新梦想用专业为您引航</h2>
                <p>软件定制开发、APP定制开发、微信定制开发、电商平台开发</p>
                <p>只要您能想得到，我们就能做得到！</p><br/>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes" target="blank" class="btn-button-bg-white pl-35 pr-35 pt-10 pb-10 fsize-16">立即咨询</a>
            </div>
            <img src="__ROOT__/public/assets/images/banner_service_02.jpg">
        </li>
        <li>
            <div class="index-ban-txt pl-30">
                <h1>一站式交钥匙工程</h1>
                <h2>给您最省心的定制开发体验</h2>
                <p>创新梦想——业内交付率最高的软件开发公司，完全按需定制</p>
                <p>为企业发展助力，实现企业信息化！</p><br/>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes" target="blank" class="btn-button-bg-white pl-35 pr-35 pt-10 pb-10 fsize-16">立即咨询</a>
            </div>
            <img src="__ROOT__/public/assets/images/banner_service_03.jpg">
        </li>
    </ul>
    <ul class="num">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="btn btn-l"><</div>
    <div class="btn btn-r">></div>
</div>

<!-- banner下面的新闻公告 -->
<div class="banner-footer-news">
    <div class="confont-con">
        <div class="btn-button-gb-blue4 text-center pl-10">
            <a href="/plus/list.php?tid=3" class="fcolor-white">
                <img src="__ROOT__/public/assets/images/icon_dingwei.png" width="20" class="pull-left mt-5 mr-5">
                定制开发服务
            </a>
        </div>
        <div class="banner-footer-news-list">

            <p class="pull-left fcolor-99 mr-30"><img src="__ROOT__/public/assets/images/icon_tixing.png" width="13" class="pull-left mt-10 mr-5 ">最新公告:</p>

            <div class="bd">
                <div class="pull-left picList">


                    <li class="pull-left">
                        <a href="/news/company/2018/0707/468.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">铁汉生态关于与深圳爱淘苗电子商</span>
                            <span class="fcolor-99">2018-07-07</span>
                        </a>
                    </li>
                    <li class="pull-left">
                        <a href="/news/company/2018/0707/467.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">美食app软件开发需要社交性吗</span>
                            <span class="fcolor-99">2018-07-07</span>
                        </a>
                    </li>
                    <li class="pull-left">
                        <a href="/news/industry/2018/0706/466.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">西安app开发公司哪家靠谱 西安j</span>
                            <span class="fcolor-99">2018-07-06</span>
                        </a>
                    </li>
                    <li class="pull-left">
                        <a href="/news/industry/2018/0706/465.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">微信“黑号” 40元就买到</span>
                            <span class="fcolor-99">2018-07-06</span>
                        </a>
                    </li>
                    <li class="pull-left">
                        <a href="/news/industry/2018/0704/464.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">非法贩卖公民个人信息380余名“内</span>
                            <span class="fcolor-99">2018-07-04</span>
                        </a>
                    </li>
                    <li class="pull-left">
                        <a href="/news/industry/2018/0704/463.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">深圳腾泰翼：如何做好APP开发项目</span>
                            <span class="fcolor-99">2018-07-04</span>
                        </a>
                    </li>
                    <li class="pull-left">
                        <a href="/news/industry/2018/0703/462.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">深圳市最有名招聘网站开发建设</span>
                            <span class="fcolor-99">2018-07-03</span>
                        </a>
                    </li>
                    <li class="pull-left">
                        <a href="/news/industry/2018/0703/461.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">深圳柚安米科技有限公司</span>
                            <span class="fcolor-99">2018-07-03</span>
                        </a>
                    </li>
                    <li class="pull-left">
                        <a href="/news/company/2018/0701/460.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">深圳诈骗团伙研发“对赌软件”</span>
                            <span class="fcolor-99">2018-07-01</span>
                        </a>
                    </li>
                    <li class="pull-left">
                        <a href="/news/company/2018/0701/459.html">
                            <i class="yellow-dian-min mr-0 mb-2"></i>
                            <span class="fcolor-99 w-250 di-ib">2018软件开发你应该学会的一项技</span>
                            <span class="fcolor-99">2018-07-01</span>
                        </a>
                    </li>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- 定制开发模块 -->
<div class="mt-40"></div>
<div class="confont-tittle2">
    <h1>我们的服务</h1>
    <h3 class="fcolor-66">您的需要，我们的追求，为您专属定制</h3>
</div>
<div class="place-software">
    <div class="confont-con">
        <a href="/plus/list.php?tid=8" class="pull-left mr-60">
            <img src="__ROOT__/public/assets/images/place_software_01.png" width="105">
            <h2 class="fsize-20 fweight-100 mt-30 mb-15">软件定制开发</h2>
            <div class="place-software-txt text-l fcolor-99">创新梦想软件致力于为各商业、企业单位及个人提供软件定制开发服务，软件定制开发主要是指企业管理软件的定制开发与设计。</div>
        </a>
        <a href="/plus/list.php?tid=9" class="pull-left mr-60">
            <img src="__ROOT__/public/assets/images/place_software_03.png" width="105">
            <h2 class="fsize-20 fweight-100 mt-30 mb-15">APP定制开发</h2>
            <div class="place-software-txt text-l fcolor-99">创新梦想软件致力于为不同行业、不同规模的企业提供手机客户端APP开发服务，主要包括电商类APP开发、O2O类APP开发、生活服务类APP开发等。</div>
        </a>
        <a href="/plus/list.php?tid=10" class="pull-left mr-60">
            <img src="__ROOT__/public/assets/images/place_software_02.png" width="105">
            <h2 class="fsize-20 fweight-100 mt-30 mb-15">微信定制开发</h2>
            <div class="place-software-txt text-l fcolor-99">创新梦想软件致力于各行业企业的微信定制业务，包含微商城、微生活、微留言、微相册等等功能。可以根据客户自己的需要进行产品的定制开发。</div>
        </a>
        <a href="/plus/list.php?tid=11" class="pull-left">
            <img src="__ROOT__/public/assets/images/place_software_04.png" width="105">
            <h2 class="fsize-20 fweight-100 mt-30 mb-15">电商平台定制开发</h2>
            <div class="place-software-txt text-l fcolor-99">创新梦想软件致力于各类企业用户的电子商务平台开发，主要包括微信商城开发、电商平台开发、O2O商城开发、网上商城开发。</div>
        </a>
    </div>
</div>
<!-- 创新梦想标准产品 -->
<!-- 为什么交付率高 优势-->
<div class="confont-software-good clearfix">
    <div class="pt-20"></div>
    <div class="confont-tittle2">
        <h1 class="">我们的优势</h1>
        <h3 class="fcolor-66">创新梦想软件，业内交付率最高的软件公司</h3>
        <a href="/plus/list.php?tid=13" class="pull-right fcolor-blue2">MORE></a>
    </div>
    <div class="confont-con">
        <ul>
            <li>
                <a href="/plus/list.php?tid=13">
                    <div class="pull-left">
                        <img src="__ROOT__/public/assets/images/software_good_02.png" width="38">
                        <img src="__ROOT__/public/assets/images/icon_xiegang.png" height="35">
                    </div>
                    <span class="lh-40 fsize-22 pl-10">一站式交钥匙工程</span>
                    <p class="lh-2em fcolor-66 mt-5">通过对开发流程的精准把握及熟练操作，我们可以为您提供一站式定制开发服务，从最初的需求调研到产品设计，最后到软件上线，定制开发的方方面面我们都能做到尽善尽美，为您提供一次最省心的定制开发服务。</p>
                </a>
            </li>
            <li>
                <a href="/plus/list.php?tid=13">
                    <div class="pull-left">
                        <img src="__ROOT__/public/assets/images/software_good_04.png" width="38">
                        <img src="__ROOT__/public/assets/images/icon_xiegang.png" height="35">
                    </div>
                    <span class="lh-40 fsize-22 pl-10">最完善的开发流程</span>
                    <p class="lh-2em fcolor-66 mt-5">我们采用了业内最完善的八步开发流程，并创造性的实现了定制开发项目成果的阶段交付，这是开发领域的一次重大创新。将每一步流程的成果以不同的方式予以交付，实现了开发成果阶段化。</p>
                </a>
            </li>
            <li class="mr-0">
                <a href="/plus/list.php?tid=13">
                    <div class="pull-left">
                        <img src="__ROOT__/public/assets/images/software_good_03.png" width="38">
                        <img src="__ROOT__/public/assets/images/icon_xiegang.png" height="35">
                    </div>
                    <span class="lh-40 fsize-22 pl-10">八大增值服务</span>
                    <p class="lh-2em fcolor-66 mt-5">为了解决您在产品规划、推广过程中遇到的系列问题，我们另外提供了包括产品策划、IT架构分析、流程优化、运营咨询服务、运营辅导、服务器运维、APP上架指导、第三方服务商推荐八大优势服务。</p>
                </a>
            </li>
            <li>
                <a href="/plus/list.php?tid=13">
                    <div class="pull-left">
                        <img src="__ROOT__/public/assets/images/software_good_02.png" width="38">
                        <img src="__ROOT__/public/assets/images/icon_xiegang.png" height="35">
                    </div>
                    <span class="lh-40 fsize-22 pl-10">开发过程全透明</span>
                    <p class="lh-2em fcolor-66 mt-5">通过专属项目助理，可以让你随时关注项目动态，了解项目进程，让开发过程全透明，让定制开发如同在自家进行一样。透明的开发过程让项目进展一目了然，让所有操作都能在您的监督下，并在您的掌控之中进行。 </p>
                </a>
            </li>
            <li>
                <a href="/plus/list.php?tid=13">
                    <div class="pull-left">
                        <img src="__ROOT__/public/assets/images/software_good_01.png" width="38">
                        <img src="__ROOT__/public/assets/images/icon_xiegang.png" height="35">
                    </div>
                    <span class="lh-40 fsize-22 pl-10">最专业团队支持</span>
                    <p class="lh-2em fcolor-66 mt-5">我们是一支拥有10年以上开发经验的专业团队，包括资深架构师、微软认证工程师、技术研发人员等50多名专业人员，曾为超过十个以上世界五百强公司的项目进行开发工作，在定制开发领域积累了深厚的开发经验。</p>
                </a>
            </li>
            <li class="mr-0">
                <a href="/plus/list.php?tid=13">
                    <div class="pull-left">
                        <img src="__ROOT__/public/assets/images/software_good_04.png" width="38">
                        <img src="__ROOT__/public/assets/images/icon_xiegang.png" height="35">
                    </div>
                    <span class="lh-40 fsize-22 pl-10">源代码、文档全交付</span>
                    <p class="lh-2em fcolor-66 mt-5">项目完成后，我们会将整个项目源代码、详细开发文档一同交付与您，最大限度的保证了系统安全性、稳定性，也能为后续系统维护，甚至是进行二次开发提供便利。</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- 定制开发开发流程模块 -->
<div class="confont-development" style="background: url('__ROOT__/public/assets/images/software_survey_bgcolor.png');">
    <div class="confont-con">
        <div class="confont-tittle2">
            <h1 class="fcolor-white">开发流程</h1>
            <h3 class="fcolor-white">最完善的开发流程，最贴心的开发服务</h3>
            <a href="/plus/list.php?tid=12" class="pull-right fcolor-white">MORE></a>
        </div>
        <div class="confont-survey-imgCON mt-40m">
            <img src="__ROOT__/public/assets/images/software_liucheng.png" width="1200" usemap="#Map">
            <map name="Map">
                <area shape="circle" coords="154,132,42"  href="development1.html" alt="需求调研">
                <area shape="circle" coords="388,138,47"  href="development2.html" alt="需求分析">
                <area shape="circle" coords="613,133,48"  href="development3.html" alt="原型设计">
                <area shape="circle" coords="846,138,47"  href="development4.html" alt="产品设计">
                <area shape="circle" coords="958,321,45"  href="development5.html" alt="界面设计">
                <area shape="circle" coords="515,322,45"  href="development6.html" alt="程序编码">
                <area shape="circle" coords="240,323,45"  href="development7.html" alt="软件测试">
                <area shape="circle" coords="537,508,43"  href="development8.html" alt="打包发布">
            </map>
        </div>
    </div>
</div>

<div class="confont-con">
    <div class="mt-30"></div>
    <!-- 左边开始 -->
    <div class="confont-news-left software-news-left">
        <div class="confont-tittle">
            <h1 class="pull-left">新闻中心</h1>
            <ul class="index-news-tittle">

                <li class="active">公司动态</li>

                <li>业界动态</li>

            </ul>
        </div>
        <!-- 新闻列表开始 -->
        <div class="confont-news-list">
            <ul class="clearboth">

                <li>
                    <a href="/news/company/2018/0707/468.html" title="铁汉生态关于与深圳爱淘苗电子商务科技有限">
                        07-07<span class="mr-15 ml-15">|</span>铁汉生态关于与深圳爱淘苗电子商务科技有限</a>
                </li>
                <li>
                    <a href="/news/company/2018/0707/467.html" title="美食app软件开发需要社交性吗">
                        07-07<span class="mr-15 ml-15">|</span>美食app软件开发需要社交性吗</a>
                </li>
                <li>
                    <a href="/news/company/2018/0701/460.html" title="深圳诈骗团伙研发“对赌软件”450名民警雷霆">
                        07-01<span class="mr-15 ml-15">|</span>深圳诈骗团伙研发“对赌软件”450名民警雷霆</a>
                </li>
                <li>
                    <a href="/news/company/2018/0701/459.html" title="2018软件开发你应该学会的一项技能">
                        07-01<span class="mr-15 ml-15">|</span>2018软件开发你应该学会的一项技能</a>
                </li>
                <li>
                    <a href="/news/company/2018/0626/452.html" title="深圳软件开发公司经营范围_【真实案例】">
                        06-26<span class="mr-15 ml-15">|</span>深圳软件开发公司经营范围_【真实案例】</a>
                </li>
                <li>
                    <a href="/news/company/2018/0626/451.html" title="深圳软件开发培训机构哪家好？">
                        06-26<span class="mr-15 ml-15">|</span>深圳软件开发培训机构哪家好？</a>
                </li>
                <li>
                    <a href="/news/company/2018/0621/444.html" title="铁汉生态：华创证券有限责任公司关于公司与">
                        06-21<span class="mr-15 ml-15">|</span>铁汉生态：华创证券有限责任公司关于公司与</a>
                </li>
                <li>
                    <a href="/news/company/2018/0621/443.html" title="首届彩电软件开发者峰会在深圳举行">
                        06-21<span class="mr-15 ml-15">|</span>首届彩电软件开发者峰会在深圳举行</a>
                </li>


                <a href="/plus/list.php?tid=14" class="fcolor-blue2 lh-3em mt-5 di-ib">查看全部</a>
            </ul>
            <ul class="clearboth">


                <li>
                    <a href="/news/industry/2018/0706/466.html" title="西安app开发公司哪家靠谱 西安java电商平台开">
                        07-06<span class="mr-15 ml-15">|</span>西安app开发公司哪家靠谱 西安java电商平台开</a>
                </li>
                <li>
                    <a href="/news/industry/2018/0706/465.html" title="微信“黑号” 40元就买到">
                        07-06<span class="mr-15 ml-15">|</span>微信“黑号” 40元就买到</a>
                </li>
                <li>
                    <a href="/news/industry/2018/0704/464.html" title="非法贩卖公民个人信息380余名“内鬼”落网">
                        07-04<span class="mr-15 ml-15">|</span>非法贩卖公民个人信息380余名“内鬼”落网</a>
                </li>
                <li>
                    <a href="/news/industry/2018/0704/463.html" title="深圳腾泰翼：如何做好APP开发项目">
                        07-04<span class="mr-15 ml-15">|</span>深圳腾泰翼：如何做好APP开发项目</a>
                </li>
                <li>
                    <a href="/news/industry/2018/0703/462.html" title="深圳市最有名招聘网站开发建设">
                        07-03<span class="mr-15 ml-15">|</span>深圳市最有名招聘网站开发建设</a>
                </li>
                <li>
                    <a href="/news/industry/2018/0703/461.html" title="深圳柚安米科技有限公司">
                        07-03<span class="mr-15 ml-15">|</span>深圳柚安米科技有限公司</a>
                </li>
                <li>
                    <a href="/news/industry/2018/0629/458.html" title="终于找到牛大魔王牛牛作弊软件《正版平台">
                        06-29<span class="mr-15 ml-15">|</span>终于找到牛大魔王牛牛作弊软件《正版平台</a>
                </li>
                <li>
                    <a href="/news/industry/2018/0629/457.html" title="币币交易系统app开发公司深圳币币交易所开发">
                        06-29<span class="mr-15 ml-15">|</span>币币交易系统app开发公司深圳币币交易所开发</a>
                </li>


                <a href="/plus/list.php?tid=17" class="fcolor-blue2 lh-3em mt-5 di-ib">查看全部</a>
            </ul>
        </div><!-- 新闻列表end -->
    </div><!-- 左边结束  -->
    <div class="confont-news-right ">
        <div class="confont-tittle">

            <h1 class="pb-20">最新公告</h1>

            <a href="/news/notice/2018/0417/375.html" title="创新梦想2018五一劳动节放假通知">
                <img  src="__ROOT__/public/assets/images/index_news_con.png" width="430" height="180">
                <h3>创新梦想2018五一劳动节放假通知</h3>
                <span class="fcolor-white fsize-12"><i class="iconfont fcolor-white">&#xe64e;</i>2018-04-17 15:12:05</span>
                <p>五一放假 ... </p>
            </a>



        </div>
    </div>
</div>

<!-- 客户案例 -->

<div class="confont-case software-case mt-20" style="background: url('__ROOT__/public/assets/images/index_case_bd.png');" >
    <div class="confont-con">
        <div class="pt-20"></div>
        <div class="confont-tittle2">
            <h1 class="fcolor-white">客户案例</h1>
            <h3 class="fcolor-white">多套解决方案助您快速进入“互联网+”时代</h3>
        </div>
        <div class="bd">
            <ul>
                <li>

                    <div class="case-slibe" target="_blank">
                        <a href="/case/service/2017/0714/295.html" title="澳门豆捞" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="/case/service/2017/0714/295.html" title="澳门豆捞" class="after">
                            <h5>澳门豆捞</h5>
                            <p>客户类型：服务行业</p>
                            <p>客户规模：600人</p>
                            <p>上线时间：2016-2-13</p>
                            <p>使用产品：VIP会员营销管理系统 </p>
                            <span>MORE</span>
                        </a>
                    </div>
                    <div class="case-slibe" target="_blank">
                        <a href="/case/other/2017/0714/310.html" title="瑞康医院" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="/case/other/2017/0714/310.html" title="瑞康医院" class="after">
                            <h5>瑞康医院</h5>
                            <p>客户类型：其它行业</p>
                            <p>客户规模：200人以上</p>
                            <p>上线时间：2016-09-01</p>
                            <p>使用产品：政务版集团业务平台 </p>
                            <span>MORE</span>
                        </a>
                    </div>
                    <div class="case-slibe" target="_blank">
                        <a href="/case/retail/2017/0714/308.html" title="秦工国际商贸有限公司" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="/case/retail/2017/0714/308.html" title="秦工国际商贸有限公司" class="after">
                            <h5>秦工国际商贸有限公司</h5>
                            <p>客户类型：商贸零售</p>
                            <p>客户规模：1000人</p>
                            <p>上线时间：2016-04-15</p>
                            <p>使用产品：微信活动定制开发 </p>
                            <span>MORE</span>
                        </a>
                    </div>
                    <div class="case-slibe" target="_blank">
                        <a href="/case/retail/2017/0714/309.html" title="兆卿酒乡商贸有限公司" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="/case/retail/2017/0714/309.html" title="兆卿酒乡商贸有限公司" class="after">
                            <h5>兆卿酒乡商贸有限公司</h5>
                            <p>客户类型：商贸零售</p>
                            <p>客户规模：100人</p>
                            <p>上线时间：2015-06-16</p>
                            <p>使用产品：网上商城系统定制开发 </p>
                            <span>MORE</span>
                        </a>
                    </div>
                    <div class="case-slibe" target="_blank">
                        <a href="/case/traffic/2017/0714/305.html" title="北京中机车辆司法鉴定中" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="/case/traffic/2017/0714/305.html" title="北京中机车辆司法鉴定中" class="after">
                            <h5>北京中机车辆司法鉴定中</h5>
                            <p>客户类型：交通运输</p>
                            <p>客户规模：2000人</p>
                            <p>上线时间：2015-12-30</p>
                            <p>使用产品：客户管理系统定制开发 </p>
                            <span>MORE</span>
                        </a>
                    </div>
                    <div class="case-slibe" target="_blank">
                        <a href="/case/traffic/2017/0714/306.html" title="长途汽车联运站" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="/case/traffic/2017/0714/306.html" title="长途汽车联运站" class="after">
                            <h5>长途汽车联运站</h5>
                            <p>客户类型：交通运输</p>
                            <p>客户规模：2000人</p>
                            <p>上线时间：2015-1-4</p>
                            <p>使用产品：标准版业务支撑平台 </p>
                            <span>MORE</span>
                        </a>
                    </div>
                    <div class="case-slibe" target="_blank">
                        <a href="/cas__ROOT__/public/assets/2017/0714/302.html" title="东御桥小学" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="/cas__ROOT__/public/assets/2017/0714/302.html" title="东御桥小学" class="after">
                            <h5>东御桥小学</h5>
                            <p>客户类型：文体教育</p>
                            <p>客户规模：500人以上</p>
                            <p>上线时间：2015-08-22</p>
                            <p>使用产品：OA协同办公管理系统 </p>
                            <span>MORE</span>
                        </a>
                    </div>
                    <div class="case-slibe" target="_blank">
                        <a href="__ROOT__/public/assets/2017/0714/303.html" title="青岛市第一中学" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="__ROOT__/public/assets/2017/0714/303.html" title="青岛市第一中学" class="after">
                            <h5>青岛市第一中学</h5>
                            <p>客户类型：文体教育</p>
                            <p>客户规模：2万人</p>
                            <p>上线时间：2016-2-16</p>
                            <p>使用产品：OA协同办公管理系统 </p>
                            <span>MORE</span>
                        </a>
                    </div>
                    <div class="case-slibe" target="_blank">
                        <a href="/cas__ROOT__/public/assets/2017/0714/304.html" title="新华书店" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="/cas__ROOT__/public/assets/2017/0714/304.html" title="新华书店" class="after">
                            <h5>新华书店</h5>
                            <p>客户类型：文体教育</p>
                            <p>客户规模：2000人</p>
                            <p>上线时间：2013-2-11</p>
                            <p>使用产品：VIP会员营销管理系统 </p>
                            <span>MORE</span>
                        </a>
                    </div>
                    <div class="case-slibe" target="_blank">
                        <a href="/case/government/2017/0711/240.html" title="中共鄄城县委组织部" class="before">
                            <img src="__ROOT__/public/assets/images/caseico.png"  alt="">
                        </a>
                        <a href="/case/government/2017/0711/240.html" title="中共鄄城县委组织部" class="after">
                            <h5>中共鄄城县委组织部</h5>
                            <p>客户类型：政府与公共部门</p>
                            <p>客户规模：200以上</p>
                            <p>上线时间：2016/07/15</p>
                            <p>使用产品：政务版集团业务平台</p>
                            <span>MORE</span>
                        </a>
                    </div>



                </li>
                <!--li>
                    											                </li-->
            </ul>
        </div>
        <div class="hd">
            <!--<a class="next"></a>-->
            <ul></ul>
            <!--<a class="prev"></a>-->
            <!-- <span class="pageState"></span>-->
        </div>
    </div>
</div>





<div class="go-top">
    <div class="before-icon">
        <div onClick="boxOs()">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes"><i class="iconfont"></i></a>
        </div>
        <div onClick="boxOs()">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3355820677&site=qq&menu=yes"><i class="iconfont"></i></a>
        </div>
        <div>
            <i class="iconfont"></i>
        </div>
        <div onClick="window.open('/plus/list.php?tid=49')">
            <i class="iconfont"></i>
        </div>
        <div>
            <a href="javascript:scroll(0,0)">
                <i class="iconfont"></i>
            </a>
        </div>
    </div>
    <div class="after-con">
        <div class="st">
            <img src="__ROOT__/public/assets/images/qq.png" width="24" >
            业务咨询<br>咨询在线客服
        </div>
        <div class="sp">
            <img src="__ROOT__/public/assets/images/qq.png" width="24" >
            合作咨询<br>咨询在线客服
        </div>
        <div class="erweima">
            <div>
                <img src="__ROOT__/public/assets/images/erweima.png" width="98" height="98">
                <p>我们的微信</p>
            </div>
            <div>
                <img src="__ROOT__/public/assets/images/erweima_weibo.png" width="98" height="98">
                <P>我们的微博</P>
            </div>
        </div>
        <div class="help">
            点击图标进入帮助中心
        </div>
        <!--<div class="di-n">
      <a href="javascript:scroll(0,0)"><i class="iconfont"></i></a>
      </div>-->
    </div>
</div>


<div class="confont-bottom3 clearfix">
    <div class="confont-con">
        <div class="pt-30 di-ib">
            <img src="__ROOT__/public/assets/images/logo_bottom.png" width="300px">
        </div>
        <div class="pt-30 pull-right">
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=7">关于梦想</a></dt>
                <dd><a href="#">资质荣耀</a></dd>
                <dd><a href="/plus/list.php?tid=45">联系我们</a></dd>
                <dd><a href="/plus/list.php?tid=44">招贤纳士</a></dd>
            </dl>

            <!--<dl class="bottom-list">
                 <dt><a href="http://www.szcxmx.com/plus/list.php?tid=46">合作加盟</a></dt>
                 <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70802">合作优势</a></dd>
                 <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70803">合作流程</a></dd>
                 <dd><a href="http://www.szcxmx.com/index.php?m=content&c=index&a=lists&catid=70805">伙伴查询</a></dd>
             </dl>-->
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=4">支持中心</a></dt>
                <dd><a href="/plus/list.php?tid=47">服务体系</a></dd>
                <dd><a href="/plus/list.php?tid=49">知识中心</a></dd>
                <dd><a href="/plus/list.php?tid=50">下载中心</a></dd>
            </dl>
            <dl class="bottom-list">
                <dt><a >站点地图</a></dt>
                <dd><a href="">TAG标签</a></dd>
                <dd><a >RSS标签</a></dd>
                <dd><a href="">专题列表</a></dd>
            </dl>
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=3">定制开发服务</a></dt>
                <dd><a href="/plus/list.php?tid=8">软件定制开发</a></dd>
                <dd><a href="/plus/list.php?tid=9">APP定制开发</a></dd>
                <dd><a href="/plus/list.php?tid=10">微信/支付宝开发</a></dd>
            </dl>
            <dl class="bottom-list">
                <dt><a href="/plus/list.php?tid=2">创新标准产品</a></dt>
                <dd><a href="/plus/list.php?tid=2">软件标准产品</a></dd>
                <dd><a href="/plus/list.php?tid=2">APP标准产品</a></dd>
                <dd><a href="/plus/list.php?tid=2">VIP+免费软件</a></dd>
            </dl>
            <dl class="bottom-list  mr-0" id="bottomList">
                <dd class="center">
                    <a >
                        <img src="__ROOT__/public/assets/images/weixin.png" width="15" class="pull-left mt-5">
                        我们的微信
                    </a>
                    <div class="di-n">
                        <img src="__ROOT__/public/assets/images/erweima.png" width="90">
                        <p class="fsize-12">扫描关注微信</p>
                    </div>
                </dd>
                <dd class="center">
                    <a >
                        <img src="__ROOT__/public/assets/images/weibo.png" width="15" height="14" class="pull-left mt-5">
                        我们的微博
                    </a>
                    <div class="di-n">
                        <img src="__ROOT__/public/assets/images/erweima_weibo.png" width="90">
                        <p class="fsize-12">扫描微博交流</p>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="bottom-footer-pr">
            <div class="confont-con lh-2em">
                <span class="mr-30 fcolor-66 fsize-12">地址：深圳市宝安区西乡银田工业区元匠坊4楼</span><br/>
                <span class="mr-30 fcolor-66 fsize-12">咨询热线：4000-670-790    0755-33150819</span><br/>
                <span class="mr-30 fcolor-66 fsize-12">客服热线：18820152035</span>
            </div>
            <!--     <div class="hr-sb-gray1 mt-5 mb-5"></div> -->
            <div class="confont-con lh-2em pt-10">
                <p class="fcolor-66 fsize-12 di-i">Copyright © 2015-2018 CXMX Software Co.,Ltd All Rights Reserved <span class="fcolor-f4"><a href="http://admin.simpro.cn/sim_mana.php" target="_blank" rel="nofollow"><span class="fcolor-f4">管理入口</span></a></span>
                </p>
                <p class="fcolor-66  fsize-12">
                    软件企业编号：粤B-2015-0305 | 中国电子商务协会会员 | 软件行业协会会员 | <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备17038158号</a> |  <a href="http://www.cxmx90.com/plus/list.php?tid=3" target="_blank">软件定制开发</a> | <a href="http://www.cxmx90.com/" target="_blank">深圳软件开发</a>  |<a href="http://www.cxmx90.com/sitemap.html" target="_blank">网站地图</a> | <a href="http://www.cxmx90.com/sitemap.xml" target="_blank">XML地图</a>

                </p>
            </div>
        </div>
    </div>
</div>


<!-- 城市选择器 -->
<script src="__ROOT__/public/assets/js/jquery-1.11.1.js"></script>
<script src="__ROOT__/public/assets/js/jquery-1.8.3.min.js"></script>
<script src="__ROOT__/public/assets/js/city.js"></script>
<script src="__ROOT__/public/assets/js/jquery.autocomplete.js"></script>
<script src="__ROOT__/public/assets/js/city_style.js"></script>

<!-- 城市选择器end -->
<script src="__ROOT__/public/assets/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="__ROOT__/public/assets/js/sp_homepage.js"></script>





</body>

</html>
